/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    width: 150px; /* Adjust the width as needed */
    border-radius: 50%;
}

/* Navigation styles */
.menu {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content styles */
main {
    padding: 20px;
}

section img {
    max-width: 20%; /* Set the maximum width of the image to 100% of its container */
    height: auto; /* Maintain aspect ratio */
    align-items: end ;
}
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

section h2 {
    color: #333;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
